* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "poppins", sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 46px 0px;
}
.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 40%;
}

li > a {
  /* font-family: Mulish; */
  font-weight: 400;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  color: #1f1534;
}

li > a:hover {
  /* font-family: Mulish; */
  font-weight: 700;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  color: #1f1534;
}

.left > h1 {
  /* font-family: Mulish; */
  font-weight: 700;
  font-size: 45px;
  leading-trim: NONE;
  line-height: 56px;
  letter-spacing: 0%;
}

.left > p {
  font-family: Mulish;
  font-weight: 300;
  font-size: 19px;
  leading-trim: NONE;
  line-height: 32px;
  letter-spacing: 0%;
}

.left > button {
  padding: 14px 37px;
  border: 2px solid #458ff6;
  border-radius: 55px;
  background: transparent;
  color: #458ff6;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0%;
}

.left > button:hover {
  background: #458ff6;
  color: #fff;
}
.left {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
  gap: 40px;
  width: 440px;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.our {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
  gap: 60px;
}

.item {
  background: #e7e7e7;
  width: 380px;
  height: 380px;
  display: flex;
  align-items: start;
  justify-content: space-around;
  flex-direction: column;
  padding: 40px;
  border-radius: 20px;
  text-align: start;
  transition: all 0.3s ease;
}
.item:hover {
  color: white;
  background: #5a98f2;
  box-shadow: 10px 40px 50px 0px #e5e9f666;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  cursor: pointer;
}
h1{
  text-align: center;
  margin:40px;
  margin: 80px 80px;
  
}
.oraliq{
  display: flex;
  justify-content: center;
  gap: 80px;
}
.ong>h2{
font-family: Mulish;
font-weight: 700;
font-size: 36px;
leading-trim: NONE;
line-height: 56px;
letter-spacing: 0%;
}

.ong>p{
font-family: Mulish;
font-weight: 300;
font-size: 18px;
leading-trim: NONE;
line-height: 30px;
letter-spacing: 0%;
color: #7D7987;
}
.ush{
  width: 400px;
  margin-top: 80px;
}
.non{
  border:solid #458FF6;
  border-radius: 55px;
  width: 190px;
  height: 50px;
  margin-top: 50px;
  background-color: #fff;
}
.sadi{
  display: flex;
  justify-content: center;
  gap: 15px;
}
h3{
  width: 400px;
}
.she{
  width: 400px;
  color: #7D7987;
}
.asdf{
  border-radius: 55px;
  border: solid #458FF6;
  width: 190px;
  height: 50px;
  margin: 0 auto;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.footer {
    background: #4ba8d8;
    padding: 60px 120px;
    color: white;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
}

.footer1 {
    display: flex;
    flex-direction: column;  
    gap: 10px;               
    width: 23%;
}

.logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: white;
    color: #4ba8d8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}

.nom {
    font-size: 20px;
    font-weight: bold;
}

.text {
    line-height: 20px;
    font-size: 14px;
}

.footer-1 h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.footer-1 ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-1 ul li {
    list-style: none;
    font-size: 14px;
}